<div class="card-item col">
  <!-- {%- if people.redirect -%}
  <a href="{{ people.redirect }}">
  {%- else -%}
  <a href="{{ people.url | relative_url }}">
  {%- endif -%} -->
    <!-- <div class="card border-0"> -->
      <div class="row g-0 p-1">
        {%- if person.img -%}
        <div class="card-img col-md-4">
          <img
            src="{{person.img | relative_url }}"
            class="img-fluid z-depth-1 img-thumbnail"
            width="auto"
            height="auto"
            onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
          />
        </div>
        <div class="col-md-8 p-1">
        {%- else -%}
        <div class="col-md-12 p-1">
        {%- endif -%}
          <div class="card-body p-1">
            <h6 class="card-title mb-1 fw-semibold">{{ person.title }}</h6>
            <p class="card-text">{{ person.description }}</p>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </a> -->
</div>
